html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.border-green {
  border: 2px solid;
  border-radius: 15px;
  border-color: #28a745;
}

.job-post {
  padding: 20px;
  border: 0.1ex solid;
  border-color: #28a745;  
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.load-more {  
  margin: 0.1em;
  margin-bottom: 20px; 
}

div.nav {
  background-color: #28a745;
  position: sticky;
  display: block;
  top: 0;
  padding: 10px;
  color: #fff;
  z-index: 1;
}

div.desc h3{
  margin-left: 105px !important;
}

input.search {
  margin: 5px;
  background: transparent;
  color: #fff;
  height: 60px;
  float: right;
}

input.search::placeholder {
  color: #fff !important;
}